<p>botones works!</p>

<div class="card flex justify-content-center">
    <p-button label="Submit" />
  </div>
  <br>
  <div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" />
    <p-button label="Secondary" severity="secondary" />
    <p-button label="Success" severity="success" />
    <p-button label="Info" severity="info" />
    <p-button label="Warning" severity="warning" />
    <p-button label="Help" severity="help" />
    <p-button label="Danger" severity="danger" />
    <p-button label="Contrast" severity="contrast" />
  </div>
  <br>
  <div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" [raised]="true" />
    <p-button label="Secondary" [raised]="true" severity="secondary" />
    <p-button label="Success" [raised]="true" severity="success" />
    <p-button label="Info" [raised]="true" severity="info" />
    <p-button label="Warning" [raised]="true" severity="warning" />
    <p-button label="Help" [raised]="true" severity="help" />
    <p-button label="Danger" [raised]="true" severity="danger" />
    <p-button label="Contrast" [raised]="true" severity="contrast" />
  </div>
  <br>
  <div class="card flex flex-wrap gap-3 justify-content-center">
    <p-button label="Primary" [rounded]="true" />
    <p-button label="Secondary" [rounded]="true" severity="secondary" />
    <p-button label="Success" [rounded]="true" severity="success" />
    <p-button label="Info" [rounded]="true" severity="info" />
    <p-button label="Warning" [rounded]="true" severity="warning" />
    <p-button label="Help" [rounded]="true" severity="help" />
    <p-button label="Danger" [rounded]="true" severity="danger" />
    <p-button label="Contrast" [rounded]="true" severity="contrast" />
  </div>
  <br>
  <div class="card flex justify-content-center">
    <p-toast />
    <p-splitButton 
        label="Save" 
        (onClick)="save('info')" 
        [model]="items" />
  </div>