<h3>Severity Messages </h3>
<div class="card">
    <p-messages 
        [(value)]="messages" 
        [enableService]="false" 
         />
</div>
<hr>
<h3>Dynamic Messages</h3>
<div class="card">
    <p-button 
        type="button" 
        pRipple 
        (click)="addMessages()" 
        label="Show" 
        styleClass="mr-2" />
    <p-button 
        type="button"
        pRipple 
        (click)="clearMessages()" 
        label="Clear" 
        severity="secondary" />
    <p-messages [(value)]="messages2" [enableService]="false" />
</div>
<hr>
<h3>Message Service</h3>
<div class="card">
    <div class="flex justify-content-center gap-2">
        <p-button (click)="addSingle()" label="Show Single" />
        <p-button severity="help" (click)="addMultiple()" label="Show Multiple" />
        <p-button severity="success" (click)="clear()" label="Clear All" />
    </div>
    <p-messages />
</div>